body{
  transition: all 0.5s;
}

.indexcontainer{
  width: 190px;
  
}

.indexcontainerdad{
  display: flex;
  justify-content: center; 
  align-items: center;     
  
}

.avocadochat{
  padding: 100px;
}



