button{
  transition: 0.5s;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;

}

button:hover{
  transition: 0.5s;
  color: rgb(255, 255, 255);
  background-color: rgb(182, 255, 173);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;

}

.indexcontainer{
  display: flex;
  justify-content: center; /* Centraliza na horizontal */
  align-items: center;     /* Centraliza na vertical */
 
}
.avocadochat{
  padding: 100px;
}

.indexinput{
  padding: 10px;
}

.indexenterbutton{
  padding: 10px;
}
