.indexinput{
  background-color: rgba(0, 0, 0, 0.100);
  margin: 1px;
  padding: 10px;
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(238, 240, 214);
  border-width: 1px;
  width: 100%;
  box-sizing: border-box
}

.indexinput::placeholder{
  color: rgb(238, 240, 214);
}