.indexcontainer{
  display: flex;
  justify-content: center; /* Centraliza na horizontal */
  align-items: center;     /* Centraliza na vertical */
 
}
.avocadochat{
  padding: 100px;
}

.indexinput{
  padding: 10px;
}

.indexenterbutton{
  padding: 10px;
}
